.creations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  @media screen and (min-width: 1024px) {
    display: block;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btn {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__grid {
    gap: 1.4rem;
    display: grid;
    width: 100%;
    margin-top: 2rem;

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: flex-end;
      background-color: rgba(0, 0, 0, 0.3);
      background-blend-mode: overlay;

      transition: all 500ms ease-out 50ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }

      &:hover &-text {
        color: var(--black-clr);
      }

      &-mobile {
        width: 100%;
        height: 10rem;
        @media screen and (min-width: 1024px) {
          display: none;
        }
      }

      &-desktop {
        display: none;

        @media screen and (min-width: 1024px) {
          display: flex;
          align-items: flex-end;
          width: 14rem;
          height: 70vh;
        }
      }

      &-img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -10;
      }

      &-text {
        width: 10ch;
        padding: 0.7rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;

        @media screen and (min-width: 1024px) {
          width: 50%;
          color: var(--white-clr);
          text-transform: uppercase;
          padding: 1rem 2.6rem;
        }
      }
    }
  }

  &__btn {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 1.8rem;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid var(--black-clr);
    font-family: 'Josefin Sans', sans-serif;

    transition: all 200ms ease-in-out;

    &:hover {
      background: var(--black-clr);
      color: var(--white-clr);
    }

    &-mobile {
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }
}
